body {
  background-color: #0C0032;
}
.City {
  
  background-color: #282828;
  color:whitesmoke;
  text-align: center;
   }

.Events {
   color:whitesmoke;
   background-color:#282828;
   text-align: center;
   }

.Breweries { 
  background-color: #282828;
  color:whitesmoke;
  text-align: center; }

  img {
    width:100px;
    height:100px;
  }

  button {
    background-color: #3500d3;
    border: none;
    color: whitesmoke;
    border-radius: 4px;
  }



  