body {
  background-color: #0C0032;
}
.container {
  display: grid; 
  grid-template-columns: 2fr 0.1fr 2fr; 
  grid-template-rows: 1.4fr 0.6fr 1fr; 
  gap: 4px 1px; 
  grid-template-areas: 
    "City City City"
    "Events . Breweries"
    "Events . Breweries"; 
}
.City {
  grid-area: City;
  background-color: #282828;
  color:whitesmoke;
  text-align: center;
   }

.Events {
   grid-area: Events;
   color:whitesmoke;
   background-color:#282828;
   text-align: center;
   }

.Breweries { 
  background-color: #282828;
  color:whitesmoke;
  grid-area: Breweries;
  text-align: center; }

  img {
    width:100px;
    height:100px;
  }

  button {
    background-color: #3500d3;
    border: none;
    color: whitesmoke;
    border-radius: 4px;
  }



  