* {
  --secondary: #89CFF0;
}

body {
  background-color: #0C0032;
}

/* Hero Styling Start */

.hero-section {
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.2)), url("https://upload.wikimedia.org/wikipedia/commons/9/98/Lower_Manhattan_from_Jersey_City_November_2014.jpg");
  background-size: cover;
  height: 20rem;
  text-align: center;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
}

.hero-section .hero-section-text {
  color: #fefefe;

}

/* Hero Styling End */

/* Styling for events and breweries */

.new-city {
  padding-bottom: 1.5rem;
}

.section button {
  background-color: var(--secondary);
  border: none;
}
.notification h1 {
  border: 5px solid var(--secondary);
  border-radius: 15px;
  background-color: var(--secondary);
}
.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 25%;
}
.notification {
  background-color: #F5F5F5;
  max-height: 30rem;
  overflow: scroll;
  padding: 1rem;
  margin-bottom: 8rem;
  z-index: 10;
}

a {
  text-decoration: none!important;
  padding: 1rem 1rem!important;
}

.event-name {
  border-bottom: 1px solid gray;
  padding-bottom: 0.2rem;
}
/* Styling for footer */

footer {
  position: fixed;
  bottom: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-right: 10rem;
}
footer img {
  width: 100%;
}
/* Modal Styling Start -- These are mostly to override Bulma */

.modal-content {
  border-radius: 15px;
  padding: 2rem;
}
input {
  border-radius: 10px!important;
}
button {
  border-radius: 10px!important;
}
.modal-open {
  text-align: center!important;
  z-index: 2;
}
.shake {
  animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Modal Styling End */

  /* Results Styling Start */

  .results {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem 0;
    border-bottom: 2px solid gray;
  }

  .results:hover {
    background-color: var(--secondary);
  }


  .results img {
    width: 53%;
    margin-left: 1rem;
    border: 3px solid var(--secondary);
  }
  /* Results Styling End */

  
  